* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


} 

h1{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
}
header {
    height: 83px;
    background-color: #1f1f1f;
   
}

.row4 {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    height: 80px;
    width: auto;
    float: left;
    padding-top: 5px;
    margin-right: 80px;
}

.main-nav {
    list-style: none;
    padding-top: 25px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #d4d4d4;
    padding: 8px 0;
    text-decoration: none;
    font-size: 90%;
    transition: color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #fff;
}

.ion-search {
    font-size: 25px;
}

.ion-person {
    font-size: 25px;
}

#list1 {
    margin-left: 35px;
    font-size: 22px;
}

#list2 {
    
    font-size: 22px;
}


.nav-button {
    font-size: 20px;
    float: right;
    list-style: none;
    padding: 5px 10px;
    margin-right: 20px;
    background-color: #000;
    border-radius: 100px;
} 

.side-bar {
    float: left;
    position: absolute;
    margin-left: 0px;
    width= 350px;
    margin-top: 10px;
    margin-left: 20px;
}

.side-bar li {
    margin-bottom: 13px;
    list-style: none;
    font-size: 22px;
}

.side-bar li a:link,
.side-bar li a:visited {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    font-size: 90%;
    transition: color 0.2s;
}

.side-bar li a:hover,
.side-bar li a:active {
    color: #fff;
}

body
{
    background: url(../img/loginbackground.jpg);
    background-size: 100%;
}


.box
{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.box h2
{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox
{
    position: relative;
}
.box .inputBox input
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom:  1px solid #fff; 
    outline: none;
    background: transparent;
      
}
.box .inputBox label
{
    position: absolute;
    top: 20;
    left: 0;
    padding 10px 0;
    font-size:  16px;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus ~ label

{
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size:  12px;
    
}
.forgot{
    display: block;
    text-align:right;
    text-decoration: none;
    color: red;
    font-size: 0.9rem;
    transition: .3s;
    
}

.forgot:hover{
    color: green;
}
.register{
    display: block;
    text-align:right;
    text-decoration: none;
    color: red;
    font-size: 0.9rem;
    transition: .3s;
    
}

.register:hover{
    color: green;
}


.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
}
.box input[type="submit"]:hover
{
    background: orange;
    color: #000;
}

.btn1{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right,#32be8f,#38d39f,#32ve8f);
    color: #fff;
    text-align: uppercase;
    font-family: 'poppins',sans-serif;
    background-size: 200%;
    transition: .5s;
}
button.social{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook{
    background: #32508e;
}
.f{
    color: white;
}
.f:hover{
    color: orange;
}

.twitter
{
    background: #55acee;
}
.tw{
    color: white;
}
.tw:hover{
    color:orange;
}
.google
{
    background: #dd4b39;
}
.google{
    color: white;
}
.google:hover{
    color: orange;
}


/* FOOTER */

footer {
    background-color: #222222;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #989898;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
    transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #e95950;
}

.lpara {
    color: #b9b9b9;
    text-align: center;
    margin-top: 40px;
}



